
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Kanit', sans-serif;
*/
* {
  font-family: 'Raleway', sans-serif;
  color:    #6853ddb9; 
}
    
/* contenedor de menú principal */
.relative {position: relative;}
  
/* propiedad de imágenes de educación */
.img-education { width: 50%; height: 50%; }

p{ text-align: center; }

.nav>li>a:active, .nav>li>a:hover {
  color: #e0078dc5;  
  background: transparent;
  border: transparent;
}
  
.nav>li>a::target{
  background: transparent;
  border:transparent;
  color: rgb(233, 2, 2);
}

.nav>li>a:enabled {
  background: transparent;
  border:transparent;
}
.nav>li>a:checked {
  background: transparent;
  border:transparent;
  color: #fff;
}
.nav>li>a:desactive,  {
  color: #dbd3d8c5;
  background: transparent;
  border: transparent;
}
.nav>li>a::link {
  background: transparent;
  border:transparent;
  color: rgb(239, 243, 9);
}

.nav>li>a::selection {
  background: transparent;
  border:transparent;
  color: rgb(239, 243, 9);
}

/*sección presentación */
.background-presentation {
 
  background-image: url('../assets/images/card.png');
  background-size: contain;
  background-position: center center ;
  background-size: 23%;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  transition: all 0.1s;
  background-size: cover; 
  opacity: 0.95;

}

/* backgrounds de secciones */
#section0 {padding-top:50px;height:600px;color: #fff; background-color: rgba(214, 221, 228, 0.795);}
#section1 {padding-top:50px;height:525px;color: #fff; background-color: rgba(176, 181, 185, 0.795);}
#section2 {padding-top:50px;height:425px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}
#section3 {padding-top:50px;height:525px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}
#section41 {padding-top:50px;height:525px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}
#section42 {padding-top:50px;height:525px;color: #fff; background-color:  rgba(176, 181, 185, 0.795);}

/* Estilo de sección de Portafolio */
.black-letter {
  color : black;
}  

/* propiedad de imágenes de portafolio */
.img-portafolio { width: 100%; height: 100%; }
p{ text-align: center; }